src/main/resources/wsdl/IncomingMessage.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="IncomingMessage" targetNamespace="http://gepardec.com/sypoc/wsdl/incomingMessage" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://gepardec.com/sypoc/wsdl/incomingMessage" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://gepardec.com/sypoc/xml/messageRequest" version="1.0">
            <xs:element name="message">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="service">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="action">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="data">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="country" type="xs:string"/>
                                                            <xs:element name="order_no" type="xs:string"/>
                                                            <xs:element name="product_id" type="xs:int"/>
                                                            <xs:element name="subscription_start" type="xs:string"/>
                                                            <xs:element name="subscription_end" type="xs:string"/>
                                                            <xs:element name="priority" type="xs:string"/>
                                                            <xs:element name="nofsmartcards" type="xs:byte"/>
                                                            <xs:element name="smartcard_list" type="xs:string"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                            <xs:attribute name="name" type="xs:string"/>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                                <xs:attribute name="name" type="xs:string"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="name" type="xs:string"/>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://gepardec.com/sypoc/xml/messageRequest" xmlns:tns="http://gepardec.com/sypoc/wsdl/incomingMessage"
                    attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://gepardec.com/sypoc/wsdl/incomingMessage">
            <xsd:import namespace="http://gepardec.com/sypoc/xml/messageRequest"/>
            <xsd:element name="messageRequest" type="tns:messageRequest"/>
            <xsd:complexType name="messageRequest">
                <xsd:sequence>
                    <xsd:element minOccurs="0" ref="ns0:message"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="messageRequest">
        <wsdl:part name="parameters" element="tns:messageRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="IncomingMessagePortType">
        <wsdl:operation name="messageRequest">
            <wsdl:input name="messageRequest" message="tns:messageRequest">
            </wsdl:input>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IncomingMessageSoapBinding" type="tns:IncomingMessagePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="messageRequest">
            <soap:operation soapAction="messageRequest" style="document"/>
            <wsdl:input name="messageRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IncomingMessage">
        <wsdl:port name="IncomingMessagePort" binding="tns:IncomingMessageSoapBinding">
            <soap:address location="http://localhost:8080/sy-poc-common/IncomingMessage"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
